popover {
	.scroll {
	    height: 100%
	  }

	  #map {
	    width: 250px;
	    height: 250px;
	  }

	  .gm-style-iw{
	      text-transform: capitalize;
	      h4{
	          font-size: 12px !important;
	      }
	  }
}
